.aboutSection {
    display: grid;
    padding: 133px 85px;
    align-items: center;
    gap: 155px;
    grid-template-columns: repeat(2, 1fr);
    font-size: 20px;
  }
  .aboutSectionImg > img {
    width: 100%;
    height: 100%;
  }

  .aboutTitle{
    color: yellow;
  }
  .hobbiesTitle{
    color: yellow;
  }